<%= navigationBar(NavigationHelper::CHEFS_BUTTON) %>

<div class='row-fluid'>
  <div class='span6 offset3 center chooser'>
    <%= chef_selector(@chefs, @selected_chef, false, true) %>
  </div>
</div>

<div id="chefresults"></div>

<script type="text/javascript">
  // Loads the chef page asynchronously & populates the chefresults div with the results
  function chef_selected_ajax() {
    $.ajax({
      url: "/ajax/chefs/" + document.getElementById("chef_chooser").value,
      success: function(data) {
        $("#chefresults").html(data);
      }
    });
  }

  // On document ready, load the selected user's chef page, and set the selected chef's
  // page to be loaded whenever the chef selector is changed.
  $(document).ready(function() {
    chef_selected_ajax();
    $("#chef_chooser").change(function() {
      chef_selected_ajax();
    });
  });
</script>
