<%= navigationBar(NavigationHelper::WEEKLY_PICKS_BUTTON) %>

<div class='row-fluid'>
  <div class='span12 center'>
    <h3>Weekly Picks</h3>
  </div>
</div>

<div class='row-fluid'>
  <div class='span6 offset3 center chooser'>
    <%= display_week_chooser(@current_week, @selected_week) %>
  </div>
</div>

<div class='row-fluid'>
  <div class='span12 center'>
    <%= show_notice_as_alert_with_class_string(notice, 'alert-top-margin') %>
    <div id="weekresults"></div>
  </div>
</div>

<script type="text/javascript">
  // Loads the weekly picks page asynchronously & populates the weekresults div with the
  // results
  function week_picks_ajax() {
    $.ajax({
      url: "/ajax/picks/week/" + document.getElementById("week_chooser").value,
      success: function(data) {
        $("#weekresults").html(data);
      }
    });
  }

  // On document ready, load the selected week's picks page, and set the selected week's
  // picks page to be loaded whenever the week selector is changed.
  $(document).ready(function() {
    week_picks_ajax();
    $("#week_chooser").change(function() {
      week_picks_ajax();
    });
  });
</script>
